<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>
<section class="section" *ngIf="!isLoaded">
  Loading...
</section>
<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <wfm-add-event></wfm-add-event>
    </div>
    <div class="col-md-6">
      <wfm-add-category (onCategoryAdd)="newCategoryAdded($event)"></wfm-add-category>
    </div>
    <div class="col-md-6">
      <wfm-edit-category (onCategoryEdit)="updateCategory($event)" [categories]="categories"></wfm-edit-category>
    </div>
  </div>
</section>
