<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Редактировать категорию</h3>
    </div>
  </div>
  <div class="card-block">
    <div *ngIf = 'message.text' class="alert alert-{{message.type}}">{{message.text}}</div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-groupe">
        <label for="e-select-category" class="control-label">Введите категорию</label>
        <select
          id="e-select-category"
          class="form-control"
          [(ngModel)]="currentCategoryId"
          (change)="onCategoryChange()"
          [ngModelOptions]="{standalone: true}"
        >
          <option *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
        </select>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error':name.invalid && name.touched}"
      >
        <label class="control-label" for="e-category-name">Редактировать название</label>
        <input type="text"
               id="e-category-name"
               class="form-control"
               #name="ngModel"
               name="name"
               [ngModel]="currentCategory.name"
               required
        >
        <span
          *ngIf="name.invalid && name.touched"
          class="form-help-text">Название категории не может быть пустым.</span>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error':capacity.invalid && capacity.touched}" >
        <label class="control-label" for="e-category-value">Редактировать лимит</label>
        <input type="number"
               id="e-category-value"
               class="form-control"
               #capacity="ngModel"
               name="capacity"
               [ngModel]="currentCategory.capacity"
               min="1"
               required
        >
        <span
          *ngIf="capacity.invalid && capacity.touched"
          class="form-help-text">Поле не может быть пустым</span>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid" >Редактировать</button>
    </form>
  </div>
</div>
