<div class="col col-xs-12 col-sm-12 col-md-6 col-xl-7 history-col">
  <div class="card">
    <div class="card-block">
      <div class="title-block">
        <h4 class="title">Курс</h4>
      </div>
      <div class="row row-sm stats-container">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Валюта</th>
            <th>Курс</th>
            <th>Дата</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>рубль</td>
            <td>1</td>
            <td>{{date | date:'dd.MM.yyyy'}}</td>
          </tr>
          <tr>
            <td>доллар</td>
            <td>{{1/(currency['RUB']/currency['USD'])}}</td>
            <td>{{date | date:'dd.MM.yyyy'}}</td>
          </tr>
          <tr>
            <td>евро</td>
            <td>{{1/(currency['RUB'])}}</td>
            <td>{{date | date:'dd.MM.yyyy'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
